#product-con {
  padding: 30px 120px;
  height: min(100%, 100vh);
}
@media (min-width: 992px) and (max-width: 1200px) {
  #product-con {
    padding: 30px 80px;
  }
}
@media (min-width: 600px) and (max-width: 992px) {
  #product-con {
    padding: 30px 10%;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  #product-con {
    padding: 30px 5%;
  }
}
